<!-- components/footer.html -->

<footer>
    <!-- class used to arrange the profile links in the footer -->
    <ul class="profile-links">
        <li><a href="https://kalebweaver33.github.io/">GitHub.io</a></li>
        <li><a href="https://github.com/kalebweaver33">GitHub</a></li>
        <li><a href="https://www.freecodecamp.org/kalebweaver321">freeCodeCamp</a></li>
        <li><a href="https://www.codecademy.com/profiles/code6274424796">Codecademy</a></li>
        <li><a href="https://www.linkedin.com/in/kaleb-weaver-752ab2420/">LinkedIn</a></li>
    </ul>

```
<p>
    <em>Page built by Krafty Weasel Web Works</em>
</p>
```

</footer>
